/* Fix first column (column with the image of the video) */
.ov-list-content .c0{ width : 250px; }
.ov-list-content table img{ width: 100%; border: 1px solid #f1f1f1; position: absolute; }
.ov-list-content .placeholder{
  width:100%;
  min-height: 140px;
  background-color: #eee;
  transition: background-color 0.4s ease;
  position: relative;
  border-radius: 20px;
}
.ov-list-content tr .play {
  position: absolute;
  left: 45%;
  top: 34%;
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 35px solid #fff;
  border-bottom: 22px solid transparent;
  transition: border-color 0.4s ease;
}

.ov-list-content tr:hover .placeholder {
  background-color:#fff;
}
.ov-list-content tr:hover .play {
  border-left: 35px solid #1bbbe9;
}