/* Fix first column (column with the image of the video) */
.ov-list-content .c0{ width : 250px; }
.ov-list-content table img{ width: 100%; border: 1px solid #f1f1f1; position: absolute; }
.ov-list-content .placeholder{
  width:100%;
  min-height: 140px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.ov-list-content tr .play {
  position: absolute;
  left: 46%;
  top: 38%;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 25px solid #fff;
  border-bottom: 15px solid transparent;
  transition: border-color 0.2s ease;
}
.ov-list-content tr:hover .play {
  border-left: 25px solid #1bbbe9;
}