/* Fix first column (column with the image of the video) */
.ov-list-content .c0 {
    width: 250px;
}

.ov-list-content table img {
    width: 100%;
    border: 1px solid #f1f1f1;
}

.ov-list-content a {
    position: relative;
    display: block;
}

.ov-list-content .ov-play {
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.ov-list-content .ov-play > div {
    display: table;
    width: 100%;
    height: 100%;
}

.ov-list-content .ov-play > div > div {
    display: table-cell;
    vertical-align: middle;
}

.ov-list-content .ov-placeholder {
    width: 100%;
    min-height: 150px;
    background-color: #eee;
    transition: background-color 0.4s ease;
    position: relative;
    border-radius: 20px;
}

.ov-list-content .ov-play-icon {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 25px solid transparent;
    border-left: 40px solid #fff;
    border-bottom: 25px solid transparent;
    transition: border-color 0.4s ease;
}

.ov-list-content a:hover .ov-play-icon {
    border-left: 40px solid #1bbbe9;
}

.ov-list-content a:hover .ov-placeholder {
    background-color: #fff;
}
